@model ScruffCalendar.Models.Meeting
@{
  ViewData["Title"] = "Home Page";
}

<a asp-action="Index" asp-controller="Meeting">Back to meetings</a>
<br />

@if (Model.Topic != string.Empty)
{
  <h2>@Html.DisplayFor(model => model.Topic)</h2>
}
else
{
  <h2>@Html.DisplayFor(model => model.Id)</h2>
}

<p>
  Created on @Html.DisplayFor(model => model.CreatedAt)
</p>

<a href="@Html.DisplayFor(model => model.JoinUrl)" class="btn btn-primary">Join Meeting</a>