@{
    ViewData["Title"] = "Search";
}

  <form asp-controller="Meeting" asp-action="Detail" method="post">
    <input type="hidden" name="meetingId" value="@ViewData["pmi"]" />
    <input type="submit" value="View Personal Meeting Room" />
  </form>

<h3>Find by Meeting ID</h3>
<form asp-controller="Meeting" asp-action="Detail" method="post" class="col-4">
  <div class="form-group">
    <label for="meetingId">Enter Meeting ID</label>
    <input type="text" class="form-control" id="meetingId" name="meetingId" placeholder="555-555-5555" />
  </div>
  <button type="submit" class="btn btn-primary mb-2">Find Meeting</button>
</form>

<h3>Search Email</h3>
<form asp-controller="Meeting" asp-action="List" method="post">
  <input type="text" id="email" name="popUser" placeholder="name@example.com"/>
  <input type="password" id="password" name="popPass" placeholder="password" />
  <input type="submit" value="Search"/>
</form>