@{
    ViewData["Title"] = "Search";
}

  <form asp-controller="Meeting" asp-action="Detail" method="post">
    <input type="hidden" name="meetingId" value="@ViewData["pmi"]" />
    <input type="submit" value="View Personal Meeting" />
  </form>

<h1>Search</h1>


<form asp-controller="Meeting" asp-action="Detail" method="post" class="col-4">
  <div class="form-group">
    <label for="meetingId">Enter Meeting ID</label>
    <input type="text"  class="form-control"  id="meetingId" name="meetingId" placeholder="555-555-5555" />
  </div>
  <button type="submit" class="btn btn-primary mb-2">Find Meeting</button>
</form>