@model IEnumerable<ScruffCalendar.Models.Meeting>

@{
    ViewData["Title"] = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List</h1>

<table class="table">
    <thead>
      <tr>
        <th>
          Meeting ID
        </th>
        <th>
          Start Time
        </th>
        <th>
          Join URL
        </th>
      </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
      <tr>
        <td>
          @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
          @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
          <a href="@Html.DisplayFor(modelItem => item.JoinUrl)">@Html.DisplayFor(modelItem => item.JoinUrl)</a>
        </td>
      </tr>
}
    </tbody>
</table>
