@model ScruffCalendar.Models.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

  <div class="text-center">
    @if (!User.Identity.IsAuthenticated)
    {
      <h1 class="display-4">Welcome</h1>
      <a asp-action="Login" asp-controller="Account" class="btn btn-primary">Log In with Zoom</a>
    }
    else
    {
      <h1 class="display-4">Welcome, @Html.DisplayFor(model => model.ZoomFirstName)!</h1>
      
      <h3 class="text-left">Your profile</h3>
      <table class="table table-borderless col-6">
        <tr>
          <td scope="row">Name</td>
          <td class="text-left">@Html.DisplayFor(model => model.ZoomFirstName) @Html.DisplayFor(model => model.ZoomLastName)</td>
        </tr>
        <tr>
          <td scope="row">Email</td>
          <td class="text-left">@Html.DisplayFor(model => model.ZoomEmail)</td>
        </tr>
      </table>
    }
  </div>
